#header{margin-bottom:2%;}

#header ul{
	padding-right:50%;
	margin:0;
	
	list-style:none;
	clear:both;
	text-align:center;
	margin-left:6%;
	margin-top:2%;
	padding-bottom:2%;
	
}

#header ul li{
		border:1px gray solid;
		float:left;
		width:15%;
		text-align:center;
		font-size:25px;
		padding:5px;
		padding-left:7%;
		padding-right:7%;
		background:#FDF691  ;
		
		
}

#header ul li a{
	text-decoration:none;
	color:green;
}
@media screen and (max-width: 620px) {
	
	#left{
		font-size:50%;
		
	}
	
	#footer{
		font-size:60%;
		
	}
	
	#header{
		width:100%;
		margin-bottom:10%;
		margin-left:auto;
		
	}
	
	#header ul li a{
			font-size:80%;
			padding:8px 0;
			
			
			
}		
	#header ul li{
			padding:2%;
			text-align:center;
			margin-left:0;
			width:100%;
			border-top:1px solid black;			
			border-right:0px solid black;	
			border-top:1px solid black;	
			border-left:0px solid black;	
			
	}
	
	#header ul{
		width:100%;
		
		margin:-12%;
		list-style:none;
		margin-top:5%;
		
		
	}
	
	
	#logo{margin:0%;
	font-size:120%;
	
	
	}
	#imgs img{
		margin-bottom:30%;	
width:100%;		
	}
}
@media screen and (max-width: 440px) {
	
	#header{
		width:100%;
		margin-bottom:10%;
		margin-left:auto;
		
	}
	
	#header ul li a{
			font-size:80%;
			padding:8px 0;
			
			
			
}		
	#header ul li{
			padding:2%;
			text-align:center;
			margin-left:0;
			width:100%;
			border-top:1px solid black;			
			border-right:0px solid black;	
			border-top:1px solid black;	
			border-left:0px solid black;	
			
	}
	
	#header ul{
		width:100%;
		
		margin:-13%;
		list-style:none;
		margin-top:5%;
		
		
	}
	
	
	#logo{margin:0%
	
}}
	
@media screen and (max-width: 400px) {
	
	#header{
		width:100%;
		margin-bottom:10%;
		margin-left:auto;
		
	}
	
	#header ul li a{
			font-size:80%;
			padding:8px 0;
			
			
			
}		
	#header ul li{
			padding:2%;
			text-align:center;
			margin-left:0;
			width:100%;
			border-top:1px solid black;			
			border-right:0px solid black;	
			border-top:1px solid black;	
			border-left:0px solid black;	
			
	}
	
	#header ul{
		width:100%;
		
		margin:-15.5%;
		list-style:none;
		margin-top:5%;
		
		
	}
	
	
	#logo{margin:0%
	
	
	

	}
}

	@media screen and (max-width: 350px) {
	
	#imgs img{
		height:160%;
		width:100%;
		
	}
	
	#header{
		width:100%;
		margin-bottom:10%;
		margin-left:auto;
		
	}
	
	#header ul li a{
			font-size:80%;
			padding:8px 0;
			
			
			
}		
	#header ul li{
			padding:2%;
			text-align:center;
			margin-left:0;
			width:100%;
			border-top:1px solid black;			
			border-right:0px solid black;	
			border-top:1px solid black;	
			border-left:0px solid black;	
			
	}
	
	#header ul{
		width:100%;
		
		margin:-19%;
		list-style:none;
		margin-top:5%;
		
		
	}
	
	
	#logo{margin:0%
	
	
	

	}
}





#logo	{
		text-align:center;
		color:white;
		font-family:garamond;
		font-size:200%;
		padding-top:2%;
		padding-bottom:2%;
		margin-top:-1%;
		margin-left:-.6%;
		margin-right:-.6%;
		
		background:black;
}

body{background:white;}

*{
	font-family: 'Titillium Web', sans-serif;
	
}

#left{
	float:left;
width:75%;}

#pa{font-size:150%;}


#right img{
		width:70%;
		height:70%;
		margin-top:10%;
		
}

#right{float:right;
width:25%;
text-align:center;
}

#form tr{
	font-size:120%;
}

#submit{clear:both;
	font-size:120%;
color:red;}

#help1{
		background:red;
}


#footer{
clear:both;
	 background-color: #efefef;
    padding: 8px 0;
  margin-top:-2%;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
	margin-bottom:-10%;
}

#l1{
	text-align:left;
	
}

#l1 p{
	
	margin-left:3%;
	
}

#r1 img{
	
	width:5%;
height:5%;
padding-right:2%;
margin-top:-10%;
margin-bottom:0%;}

#r1 {text-align:right;
	
}

#about{text-align:center;

	
}

#about a{text-decoration:none;
color:black;
font-size:125%;}

#form{margin-bottom:10%;}


/*---------------MEDIA!!-----------*/

@media screen and (max-width: 980px) {
		
	#header{
		width:100%;
		margin-bottom:10%;
		margin-left:auto;
		
	}
	
	#header ul li a{
			font-size:100%;
			padding:8px 0;
			
			
			
}		
	#header ul li{
			padding:2%;
			text-align:center;
			margin-left:0;
			width:100%;
			border-top:1px solid black;			
			border-right:0px solid black;	
			border-top:1px solid black;	
			border-left:0px solid black;	
			
	}
	
	#header ul{
		width:100%;
		
		margin:-8%;
		list-style:none;
		margin-top:5%;
		
		
	}
	
	
	#logo{margin:0%
	
}}

@media screen and (max-width: 620px) {
	
	#header{
		width:100%;
		margin-bottom:10%;
		margin-left:auto;
		
	}
	
	#header ul li a{
			font-size:80%;
			padding:8px 0;
			
			
			
}		
	#header ul li{
			padding:2%;
			text-align:center;
			margin-left:0;
			width:100%;
			border-top:1px solid black;			
			border-right:0px solid black;	
			border-top:1px solid black;	
			border-left:0px solid black;	
			
	}
	
	#header ul{
		width:100%;
		
		margin:-12%;
		list-style:none;
		margin-top:5%;
		
		
	}
	
	
	#logo{margin:0%
	
	
	

	
}
@media screen and (max-width: 440px) {
	
	#header{
		width:100%;
		margin-bottom:10%;
		margin-left:auto;
		
	}
	
	#header ul li a{
			font-size:80%;
			padding:8px ;
			
			
			
}		
	#header ul li{
			padding:2%;
			text-align:center;
			margin-left:0;
			width:100%;
			border-top:1px solid black;			
			border-right:0px solid black;	
			border-top:1px solid black;	
			border-left:0px solid black;	
			
	}
	
	#header ul{
		width:100%;
		
		margin:-13%;
		list-style:none;
		margin-top:5%;
		
		
	}
	
	
	#logo{margin:0%
	
}
	
@media screen and (max-width: 400px) {
	
	#header{
		width:100%;
		margin-bottom:10%;
		margin-left:auto;
		
	}
	
	#header ul li a{
			font-size:80%;
			padding:8px 0;
			
			
			
}		
	#header ul li{
			padding:2%;
			text-align:center;
			margin-left:0;
			width:100%;
			border-top:1px solid black;			
			border-right:0px solid black;	
			border-top:1px solid black;	
			border-left:0px solid black;	
			
	}
	
	#header ul{
		width:100%;
		
		margin:-15.5%;
		list-style:none;
		margin-top:5%;
		
		
	}
	
	
	#logo{margin:0%
	
	
	

	}
}

	@media screen and (max-width: 350px) {
	
	#header{
		width:100%;
		margin-bottom:10%;
		margin-left:auto;
		
	}
	
	#header ul li a{
			font-size:80%;
			padding:8px 0;
			
			
			
}		
	#header ul li{
			padding:2%;
			text-align:center;
			margin-left:0;
			width:100%;
			border-top:1px solid black;			
			border-right:0px solid black;	
			border-top:1px solid black;	
			border-left:0px solid black;	
			
	}
	
	#header ul{
		width:100%;
		
		margin:-19%;
		list-style:none;
		margin-top:5%;
		
		
	}
	
	
	#logo{
		margin:0%;

	}
	}